<div class="container-fluid mainheader shadow p-3">
    <a href="/"><img class="mainlogo" src="../styles/images/facebook_cover_photo.jpg"></a>
</div>
<nav class="navbar sticky-top navbar-dark bg-dark container-fluid m-0 shadow">
    <a href="" class="navbar-brand text-light text-center">Log in</a>
    <a href="" class="navbar-brand text-light text-center">Create an Account</a>
    <a href="/post" class="navbar-brand text-light font-weight-bold text-center"><u>Post a Part</u></a>
    <form class="form-inline">
      <input class="form-control mr-sm-2 bg-dark searchbar" type="search" placeholder="Search" aria-label="Search">
      <button class="text-primary btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<br>
<br>
  <div class="container bg-white post-container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2 class="text-center p-4 font-weight-bold postheader"><u>Post an PCpart!</u></h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Select Category</label>
            <select class="form-control" id="item-category">
                <option selected="selected">CPU Processors</option>
                <option>Motherboards</option>
                <option>Computer Memory</option>
                <option>Hard Drives</option>
                <option>Power Supplies</option>
                <option>Fan & CPU Coolers</option>
                <option>Video Cards</option>
                <option>Cases</option>
                <option>Misc</option>
            </select>
          </div>
          <div class="form-group">
            <label for="item-price">Price:</label>
            <input type="number" class="form-control" id="item-price" aria-describedby="example-text" placeholder="Enter Price"></input>
          </div>
          <div class="form-group">
            <label for="image-url">Image Url:</label>
            <input type="url" class="form-control" id="image-url" aria-describedby="example-text" placeholder="Enter Image URL"></input>
          </div>
          <div class="form-group">
            <label for="example-text">Product Description</label>
            <textarea class="form-control" id="item-name" rows="3" placeholder="A brief item description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/part.js"></script>
