.list-group-item {
  line-height: 2.5;
}
ul { 
  list-style-type: none; 
}

body {
  background-image: url(images/qbkls.png)
}

.partsdiv {
}

.searchbar {
  outline-color: #007bff;
}

.partcard {
  max-width: 300px;
  float: left;
  margin: 10px 10px
}

.partimg {
  max-width: 300px;
  max-height: 200px;
}

